@import "tailwindcss";

@theme {
    --color-primary: #5b13ec;
    --color-background-light: #f6f6f8;
    --color-background-dark: #161022;

    --font-display: "Spline Sans", sans-serif;

    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
}